{{input value=model.name placeholder="name of room"}}
<button {{action 'save' model}}> <span class='black-text'>Save</span> </button>
<button {{action 'deleteRoom' model}}> <span class='black-text'>Return to Rooms</span> </button>
