{{input value=model.name placeholder="task name"}}
{{input value=model.room_id placeholder="room id"}}
<button {{action 'save' model}}> <span class='black-text'>Save</span> </button>

<button {{action 'deleteTask' model}}> <span class='black-text'>Return to Tasks</span> </button>
