<h2 class='route-heading'>Your Rooms</h2>

{{#each model as |room|}}
  <h3>
    {{#link-to 'room' room}}
      {{room.name}}
    {{/link-to}}
  </h3>
{{/each}}

{{#link-to "rooms.new"}}
  <button>{{fa-icon "plus"}} Room</button>
{{/link-to}}

{{outlet}}
