<h2>Welcome to the tasks/ Route</h2>

{{#each model as |task|}}
  <h3>
    {{#link-to 'task' task}}
      {{task.name}}
    {{/link-to}}
  </h3>
{{/each}}

{{#link-to "tasks.new"}}
  <button>{{fa-icon "plus"}} Task</button>
{{/link-to}}

{{outlet}}
